
  $blue: #007bff;
  $indigo: #6610f2;
  $purple: #6f42c1;
  $pink: #e83e8c;
  $red: #dc3545;
  $orange: #fd7e14;
  $yellow: #ffc107;
  $green: #28a745;
  $teal: #20c997;
  $cyan: #17a2b8;
  $white: #fff;
  $gray: #6c757d;
  $gray-dark: #343a40;
  $primary: #007bff;
  $secondary: #6c757d;
  $success: #28a745;
  $info: #17a2b8;
  $warning: #ffc107;
  $danger: #dc3545;
  $light: #f8f9fa;
  $dark: #343a40;
  $black: #000000;
  $light-gray: #ebebeb;
  $ghost-gray: #8f8f8f;

$good-inc-main:rgb(242, 108, 79);
$good-inc-hover:#ce4e32;

$extra-small:32px;
$small:64px;
$pre-medium:128px;
$medium:256px;
$big:512px;
$huge:1024px;

$small-text:8px;
$pre-medium-text:12px;
$medium-text:16px;
$big-text:32px;
$huge-text:64px;
$very-huge-text:128px;

@mixin Icon($size-w,$size-h, $name){
  background: url($name);
  height:$size-h;
  width:$size-w;
}



aside{
max-width: 95%;
}

#news-section{
max-width: 99%;
}

body{

  @include Icon(100%,100%,"picture/Background.png");
  z-index: 3;
  overflow: auto;
  font:{
    size:24px;
    family:"Californian FB";
  }
  color:$light;
margin:0px;

  overflow-x: hidden;

 // overflow: hidden;
box-sizing: border-box;


  .list-ref {
    list-style: none;
    position: absolute;
    left: 550px;
    li{display:inline-block;}
  }

  .list-ref-2{
    list-style: none;
    position: absolute;
    left: 150px;
    li{display:inline-block;}
  }

  .list-ref-3{
    list-style: none;
    li{display:inline-block;}
  }

  .list-ref-5{
    display: inline-block;
    position: absolute;
    bottom:40%;
    li{display:inline-block;}
  }

  .list-ref-4{
    display: inline-block;
    position: absolute;
    right: 200px;
    bottom:40%;
    li{display:inline-block;}
  }



  .News-card{
    position:relative;
    .news-card-fg{
      position: absolute;
      left:10px;
      width:100%;
      height:100%;
      background:white;
      .news-card-line-rating{
        @for $i from 1 through 2{
          & :nth-child(#{$i}){
            border-right:solid gray 1px
          }
        }

      }
    }

    & :hover{
      background: #ce4e32;

      .news-card-fg{
        background: rgb(242, 108, 79);
      }
    }
  }


.max-width{width:100%;}



  div.wrapper{
    min-width: 700px;
    display:grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: 64px 64px 50px 450px 500px 3750px 300px;
    grid-template-areas:
            "h h h h h h h h h h h h h"
            "v v v v v v v v v v v v v"
            "s s s s s s s s s s s s s"
            "p p p p p p p p p p p p p"
            "a a a a a a a a a a a a a"
            "c c c c c c c c c m m m m"
            "f f f f f f f f f f f f f";


    .border-bottom{ border-bottom: 1px solid gray;}



    #FirstSerch{grid-area: v;}
    #SeconSerch{grid-area: s;}

    .mail:before{content: url(picture/Mail.png);position: relative;top:-12px;left:10px;}
    .twitter:before{content:url(picture/Twitter.png);position: relative;top:-12px;left:10px;}
    .rss:before{content:url(picture/RSS.png);position: relative;top:-12px;left:10px;}
    .facebook:before{content:url(picture/Facebook.png);position: relative;top:-12px;left:10px;}


    div.plashka {
        background-color: rgb(55, 55, 55);
        width: 100%;
        height: $small;
        z-index: 9;

        span.g {
          font-size: 17.64px;
          font-family: "NexaHeavy";
          color: $white;
          line-height: 3.025;
          -moz-transform: matrix(2.04639535349467, 0, 0, 2.04084544522894, 0, 0);
          -webkit-transform: matrix(2.04639535349467, 0, 0, 2.04084544522894, 0, 0);
          -ms-transform: matrix(2.04639535349467, 0, 0, 2.04084544522894, 0, 0);
          position: absolute;
          left: 340.5px;
          z-index: 13;
        }

        div.rectangle-3 {
          background-color: rgb(242, 108, 79);
          position: absolute;
          left: 304px;
          width: 80px;
          height: inherit;
          z-index: 11;
        }

        div.shape-2 {
          background-color: rgb(242, 108, 79);
          position: absolute;
          transform: rotate(45deg);
          left: 360px;
          top: 15px;
          width: $extra-small;
          height: $extra-small;
          z-index: 12;
        }

        span.text-good-inc {
          font-size: 8.82px;
          font-family: "NexaRegular";
          color: $white;
          line-height: 8.05;
          -moz-transform: matrix(2.04639535349467, 0, 0, 2.04084544522894, 0, 0);
          -webkit-transform: matrix(2.04639535349467, 0, 0, 2.04084544522894, 0, 0);
          -ms-transform: matrix(2.04639535349467, 0, 0, 2.04084544522894, 0, 0);
          position: absolute;
          left: 427.82px;
          z-index: 14;
        }

        .search-group-header{
          position:absolute;
          right:50px;
          top:10%;
        input{height:25px;}
        }

      }


    .header-second-serach{position:absolute;left:30px;top:20%;}

    header{
      grid-area:h;

      .s-2{width:100%;}

      .second-search{width:100%;height:$small;background:rgb( 71, 71, 71 );}
      .picture-position{@include Icon($small,64px,"picture/pin.png")}

      .picture-dropdown{@include Icon($small,inherit,"picture/dropDownButton.png")}

      .Location{width:64px;height:32px;}
      .Search{width:200px;height:32px;}
    }


.orangearr{@include Icon($extra-small,$extra-small,"picture/pictura/Orange1.png");}


    #slide-picture-section{
      grid-area:p;


      .time{@include Icon($small,$small,"picture/timeIco.png");position:relative;top:-20px;}
      .arrow-group{z-index: 200;height:$extra-small;width:$extra-small*2;}

      .background-featured{height:450px;width:30%;background:rgb(55,55,55);z-index: -50;}
      .featured{background-size: cover; background-image: url("picture/Picture.png"); height:450px; width:62%;}
      .background-gradient{width:$big;height:$small;background:rgba(55,55,55,0.5);}
      .featured-2{height:450px;width:100%;z-index:-10;}
      .featured-3 {
        height: 50px;
        width: 50px;
        position: relative;
        left: 95%;
        top: 80px;
        transform: rotate(45deg);
      }

    }

    #articles-section{
      grid-area: a;


      .card{height:500px;}
      .card-picture{background-size: cover; background-image: url("picture/Picture2.png"); height:250px;}
      .card-picture-1{background-size: cover; background-image: url("picture/Picture1.png"); height:250px;}
      .card-picture-2{background-size: cover; background-image: url("picture/Picture3.png"); height:250px;}
    }

    .picture-position{@include Icon($small,64px,"picture/pin.png")}

    aside{grid-area: m;
      .card-picture{width: 100%;height: 100%;display: flex;}
      .picture-position{@include Icon($small,64px,"picture/pin.png")}

      .line-heigh{line-height: -50px;}

    }


    #news-section{grid-area:c;
      .picture-newss{width: 100%;height: 100%;display: flex;}
    }

.interactive-element{display:inline-block;}




    .huge-250{height:250px;}



    .container-img {

      display: flex;
      justify-content: center;
      align-items: center;

      overflow: hidden;

      position: relative;

    }
    .img-flexx {
      max-width: none;

      min-width: auto;
      min-height: auto;

      width:100%;
      height: 100%;

      position: absolute;

    }




    footer{
      grid-area:f;

      div.footer-background{
        width:100%;
        position: relative;

        height:300px;
        background-color: black;
      }

      div.footer-container{
        .list-ref{
          position:absolute;
          left:200px;
          display: inline-block;
        }

        .border{border-right:white solid 1px;}

        @for $i from 2 through 4{
          & :nth-child(#{$i}){ border-right:white solid 1px;}
        }


      }
    }

  }

}








  @media (max-width:1120px){

    body {

      .list-ref { display:none !important;}
      .list-ref-2 {left: 150px;}
      .list-ref-3 {li {margin:0 30px;} }
      .list-ref-5 {display:none !important;}
      .list-ref-4 {display:none !important;}


      div.wrapper {
          grid-template-rows: 64px 64px 50px 450px 500px 4000px 300px;
          grid-template-areas: "h h h h h h h h h h h h h" "v v v v v v v v v v v v v" "s s s s s s s s s s s s s" "p p p p p p p p p p p p p" "a a a a a a a a a a a a a" "c c c c c c c c c c c c c" "f f f f f f f f f f f f f";

          aside {display: none !important;}


        .header-second-serach {position: absolute;left: 30px;top: 20%; width:20%;}

        #slide-picture-section{

          .time{@include Icon($small,$small,"picture/timeIco.png");position:relative;top:-20px;}
          .arrow-group{z-index: 200;height:$extra-small;width:$extra-small*2;}
        }



        header {

            .s-2 {width: 100%;}
            .second-search {width: 100%;height: $small;background: rgb(71, 71, 71);}

        #SeconSerch{
          .Location {width: 64px;height: 32px;}
          .Search {width: 200px;height: 32px;}

        }
            .picture-position {@include Icon($small, 64px, "picture/pin.png")}
            .picture-dropdown {@include Icon($small, inherit, "picture/dropDownButton.png")}

            .Location {width: 64px;height: 32px;}
            .Search {width: 200px;height: 32px;}
          }



          footer {

            div.footer-background {
              width: 100%;
              position: relative;

              height: 300px;
              background-color: black;
            }

            div.footer-container {
              .list-ref {
                position: absolute;
                left: 200px;
                display: inline-block;
              }

              .border {
                border-right: white solid 1px;
              }

              @for $i from 2 through 4 {
                & :nth-child(#{$i}) {
                  border-right: white solid 1px;
                }
              }


            }
          }

        }

      }

    }



  @media(max-width:1040px){

    body{
      div.wrapper{
        grid-template-rows: 64px 64px 50px 450px 4000px 300px;
        grid-template-areas: "h h h h h h h h h h h h h" "v v v v v v v v v v v v v" "s s s s s s s s s s s s s" "p p p p p p p p p p p p p" "c c c c c c c c c c c c c" "f f f f f f f f f f f f f";

        #articles-section {display: none !important;}

      }
    }

  }

   @media (max-width:850px){
     body{

       .list-ref-2 { list-style: none;position: absolute;left: 50px; li {display: inline-block;} }
       .list-ref-3 {list-style: none; li {display: inline-block;margin:0% 20px; } }

       div.wrapper {
         grid-template-rows: 64px 64px 50px 4000px 300px;
         grid-template-areas: "h h h h h h h h h h h h h" "v v v v v v v v v v v v v" "s s s s s s s s s s s s s" "c c c c c c c c c c c c c" "f f f f f f f f f f f f f";
         #slide-picture-section {display: none !important;}
         div.plashka {
           span.g {left: 140.5px;}
           div.rectangle-3 {left: 104px;}
           div.shape-2 {left: 160px;}
           span.text-good-inc {left: 227.82px;}
         }



         .mail{top:0;left:25px}
         .twitter{top:0;}
         .rss{top:0;right:25px;}
         .facebook{top:0;right:25px;}

         #SeconSerch{

           .Search{width:150px;}
           .Location{width:80px;}

           .interactive-element{top:20px; font-size: 12px;}

         }


       }
     }
   }


