aside {
  max-width: 95%;
}

#news-section {
  max-width: 99%;
}

body {
  background: url("picture/Background.png");
  height: 100%;
  width: 100%;
  z-index: 3;
  overflow: auto;
  font-size: 24px;
  font-family: "Californian FB";
  color: #f8f9fa;
  margin: 0px;
  overflow-x: hidden;
  box-sizing: border-box;
}
body .list-ref {
  list-style: none;
  position: absolute;
  left: 550px;
}
body .list-ref li {
  display: inline-block;
}
body .list-ref-2 {
  list-style: none;
  position: absolute;
  left: 150px;
}
body .list-ref-2 li {
  display: inline-block;
}
body .list-ref-3 {
  list-style: none;
}
body .list-ref-3 li {
  display: inline-block;
}
body .list-ref-5 {
  display: inline-block;
  position: absolute;
  bottom: 40%;
}
body .list-ref-5 li {
  display: inline-block;
}
body .list-ref-4 {
  display: inline-block;
  position: absolute;
  right: 200px;
  bottom: 40%;
}
body .list-ref-4 li {
  display: inline-block;
}
body .News-card {
  position: relative;
}
body .News-card .news-card-fg {
  position: absolute;
  left: 10px;
  width: 100%;
  height: 100%;
  background: white;
}
body .News-card .news-card-fg .news-card-line-rating :nth-child(1) {
  border-right: solid gray 1px;
}
body .News-card .news-card-fg .news-card-line-rating :nth-child(2) {
  border-right: solid gray 1px;
}
body .News-card :hover {
  background: #ce4e32;
}
body .News-card :hover .news-card-fg {
  background: #f26c4f;
}
body .max-width {
  width: 100%;
}
body div.wrapper {
  min-width: 700px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 64px 64px 50px 450px 500px 3750px 300px;
  grid-template-areas: "h h h h h h h h h h h h h" "v v v v v v v v v v v v v" "s s s s s s s s s s s s s" "p p p p p p p p p p p p p" "a a a a a a a a a a a a a" "c c c c c c c c c m m m m" "f f f f f f f f f f f f f";
}
body div.wrapper .border-bottom {
  border-bottom: 1px solid gray;
}
body div.wrapper #FirstSerch {
  grid-area: v;
}
body div.wrapper #SeconSerch {
  grid-area: s;
}
body div.wrapper .mail:before {
  content: url(picture/Mail.png);
  position: relative;
  top: -12px;
  left: 10px;
}
body div.wrapper .twitter:before {
  content: url(picture/Twitter.png);
  position: relative;
  top: -12px;
  left: 10px;
}
body div.wrapper .rss:before {
  content: url(picture/RSS.png);
  position: relative;
  top: -12px;
  left: 10px;
}
body div.wrapper .facebook:before {
  content: url(picture/Facebook.png);
  position: relative;
  top: -12px;
  left: 10px;
}
body div.wrapper div.plashka {
  background-color: #373737;
  width: 100%;
  height: 64px;
  z-index: 9;
}
body div.wrapper div.plashka span.g {
  font-size: 17.64px;
  font-family: "NexaHeavy";
  color: #fff;
  line-height: 3.025;
  -moz-transform: matrix(2.0463953535, 0, 0, 2.0408454452, 0, 0);
  -webkit-transform: matrix(2.0463953535, 0, 0, 2.0408454452, 0, 0);
  -ms-transform: matrix(2.0463953535, 0, 0, 2.0408454452, 0, 0);
  position: absolute;
  left: 340.5px;
  z-index: 13;
}
body div.wrapper div.plashka div.rectangle-3 {
  background-color: #f26c4f;
  position: absolute;
  left: 304px;
  width: 80px;
  height: inherit;
  z-index: 11;
}
body div.wrapper div.plashka div.shape-2 {
  background-color: #f26c4f;
  position: absolute;
  transform: rotate(45deg);
  left: 360px;
  top: 15px;
  width: 32px;
  height: 32px;
  z-index: 12;
}
body div.wrapper div.plashka span.text-good-inc {
  font-size: 8.82px;
  font-family: "NexaRegular";
  color: #fff;
  line-height: 8.05;
  -moz-transform: matrix(2.0463953535, 0, 0, 2.0408454452, 0, 0);
  -webkit-transform: matrix(2.0463953535, 0, 0, 2.0408454452, 0, 0);
  -ms-transform: matrix(2.0463953535, 0, 0, 2.0408454452, 0, 0);
  position: absolute;
  left: 427.82px;
  z-index: 14;
}
body div.wrapper div.plashka .search-group-header {
  position: absolute;
  right: 50px;
  top: 10%;
}
body div.wrapper div.plashka .search-group-header input {
  height: 25px;
}
body div.wrapper .header-second-serach {
  position: absolute;
  left: 30px;
  top: 20%;
}
body div.wrapper header {
  grid-area: h;
}
body div.wrapper header .s-2 {
  width: 100%;
}
body div.wrapper header .second-search {
  width: 100%;
  height: 64px;
  background: #474747;
}
body div.wrapper header .picture-position {
  background: url("picture/pin.png");
  height: 64px;
  width: 64px;
}
body div.wrapper header .picture-dropdown {
  background: url("picture/dropDownButton.png");
  height: inherit;
  width: 64px;
}
body div.wrapper header .Location {
  width: 64px;
  height: 32px;
}
body div.wrapper header .Search {
  width: 200px;
  height: 32px;
}
body div.wrapper .orangearr {
  background: url("picture/pictura/Orange1.png");
  height: 32px;
  width: 32px;
}
body div.wrapper #slide-picture-section {
  grid-area: p;
}
body div.wrapper #slide-picture-section .time {
  background: url("picture/timeIco.png");
  height: 64px;
  width: 64px;
  position: relative;
  top: -20px;
}
body div.wrapper #slide-picture-section .arrow-group {
  z-index: 200;
  height: 32px;
  width: 64px;
}
body div.wrapper #slide-picture-section .background-featured {
  height: 450px;
  width: 30%;
  background: #373737;
  z-index: -50;
}
body div.wrapper #slide-picture-section .featured {
  background-size: cover;
  background-image: url("picture/Picture.png");
  height: 450px;
  width: 62%;
}
body div.wrapper #slide-picture-section .background-gradient {
  width: 512px;
  height: 64px;
  background: rgba(55, 55, 55, 0.5);
}
body div.wrapper #slide-picture-section .featured-2 {
  height: 450px;
  width: 100%;
  z-index: -10;
}
body div.wrapper #slide-picture-section .featured-3 {
  height: 50px;
  width: 50px;
  position: relative;
  left: 95%;
  top: 80px;
  transform: rotate(45deg);
}
body div.wrapper #articles-section {
  grid-area: a;
}
body div.wrapper #articles-section .card {
  height: 500px;
}
body div.wrapper #articles-section .card-picture {
  background-size: cover;
  background-image: url("picture/Picture2.png");
  height: 250px;
}
body div.wrapper #articles-section .card-picture-1 {
  background-size: cover;
  background-image: url("picture/Picture1.png");
  height: 250px;
}
body div.wrapper #articles-section .card-picture-2 {
  background-size: cover;
  background-image: url("picture/Picture3.png");
  height: 250px;
}
body div.wrapper .picture-position {
  background: url("picture/pin.png");
  height: 64px;
  width: 64px;
}
body div.wrapper aside {
  grid-area: m;
}
body div.wrapper aside .card-picture {
  width: 100%;
  height: 100%;
  display: flex;
}
body div.wrapper aside .picture-position {
  background: url("picture/pin.png");
  height: 64px;
  width: 64px;
}
body div.wrapper aside .line-heigh {
  line-height: -50px;
}
body div.wrapper #news-section {
  grid-area: c;
}
body div.wrapper #news-section .picture-newss {
  width: 100%;
  height: 100%;
  display: flex;
}
body div.wrapper .interactive-element {
  display: inline-block;
}
body div.wrapper .huge-250 {
  height: 250px;
}
body div.wrapper .container-img {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}
body div.wrapper .img-flexx {
  max-width: none;
  min-width: auto;
  min-height: auto;
  width: 100%;
  height: 100%;
  position: absolute;
}
body div.wrapper footer {
  grid-area: f;
}
body div.wrapper footer div.footer-background {
  width: 100%;
  position: relative;
  height: 300px;
  background-color: black;
}
body div.wrapper footer div.footer-container .list-ref {
  position: absolute;
  left: 200px;
  display: inline-block;
}
body div.wrapper footer div.footer-container .border {
  border-right: white solid 1px;
}
body div.wrapper footer div.footer-container :nth-child(2) {
  border-right: white solid 1px;
}
body div.wrapper footer div.footer-container :nth-child(3) {
  border-right: white solid 1px;
}
body div.wrapper footer div.footer-container :nth-child(4) {
  border-right: white solid 1px;
}

@media (max-width: 1120px) {
  body .list-ref {
    display: none !important;
  }
  body .list-ref-2 {
    left: 150px;
  }
  body .list-ref-3 li {
    margin: 0 30px;
  }
  body .list-ref-5 {
    display: none !important;
  }
  body .list-ref-4 {
    display: none !important;
  }
  body div.wrapper {
    grid-template-rows: 64px 64px 50px 450px 500px 4000px 300px;
    grid-template-areas: "h h h h h h h h h h h h h" "v v v v v v v v v v v v v" "s s s s s s s s s s s s s" "p p p p p p p p p p p p p" "a a a a a a a a a a a a a" "c c c c c c c c c c c c c" "f f f f f f f f f f f f f";
  }
  body div.wrapper aside {
    display: none !important;
  }
  body div.wrapper .header-second-serach {
    position: absolute;
    left: 30px;
    top: 20%;
    width: 20%;
  }
  body div.wrapper #slide-picture-section .time {
    background: url("picture/timeIco.png");
    height: 64px;
    width: 64px;
    position: relative;
    top: -20px;
  }
  body div.wrapper #slide-picture-section .arrow-group {
    z-index: 200;
    height: 32px;
    width: 64px;
  }
  body div.wrapper header .s-2 {
    width: 100%;
  }
  body div.wrapper header .second-search {
    width: 100%;
    height: 64px;
    background: #474747;
  }
  body div.wrapper header #SeconSerch .Location {
    width: 64px;
    height: 32px;
  }
  body div.wrapper header #SeconSerch .Search {
    width: 200px;
    height: 32px;
  }
  body div.wrapper header .picture-position {
    background: url("picture/pin.png");
    height: 64px;
    width: 64px;
  }
  body div.wrapper header .picture-dropdown {
    background: url("picture/dropDownButton.png");
    height: inherit;
    width: 64px;
  }
  body div.wrapper header .Location {
    width: 64px;
    height: 32px;
  }
  body div.wrapper header .Search {
    width: 200px;
    height: 32px;
  }
  body div.wrapper footer div.footer-background {
    width: 100%;
    position: relative;
    height: 300px;
    background-color: black;
  }
  body div.wrapper footer div.footer-container .list-ref {
    position: absolute;
    left: 200px;
    display: inline-block;
  }
  body div.wrapper footer div.footer-container .border {
    border-right: white solid 1px;
  }
  body div.wrapper footer div.footer-container :nth-child(2) {
    border-right: white solid 1px;
  }
  body div.wrapper footer div.footer-container :nth-child(3) {
    border-right: white solid 1px;
  }
  body div.wrapper footer div.footer-container :nth-child(4) {
    border-right: white solid 1px;
  }
}
@media (max-width: 1040px) {
  body div.wrapper {
    grid-template-rows: 64px 64px 50px 450px 4000px 300px;
    grid-template-areas: "h h h h h h h h h h h h h" "v v v v v v v v v v v v v" "s s s s s s s s s s s s s" "p p p p p p p p p p p p p" "c c c c c c c c c c c c c" "f f f f f f f f f f f f f";
  }
  body div.wrapper #articles-section {
    display: none !important;
  }
}
@media (max-width: 850px) {
  body .list-ref-2 {
    list-style: none;
    position: absolute;
    left: 50px;
  }
  body .list-ref-2 li {
    display: inline-block;
  }
  body .list-ref-3 {
    list-style: none;
  }
  body .list-ref-3 li {
    display: inline-block;
    margin: 0% 20px;
  }
  body div.wrapper {
    grid-template-rows: 64px 64px 50px 4000px 300px;
    grid-template-areas: "h h h h h h h h h h h h h" "v v v v v v v v v v v v v" "s s s s s s s s s s s s s" "c c c c c c c c c c c c c" "f f f f f f f f f f f f f";
  }
  body div.wrapper #slide-picture-section {
    display: none !important;
  }
  body div.wrapper div.plashka span.g {
    left: 140.5px;
  }
  body div.wrapper div.plashka div.rectangle-3 {
    left: 104px;
  }
  body div.wrapper div.plashka div.shape-2 {
    left: 160px;
  }
  body div.wrapper div.plashka span.text-good-inc {
    left: 227.82px;
  }
  body div.wrapper .mail {
    top: 0;
    left: 25px;
  }
  body div.wrapper .twitter {
    top: 0;
  }
  body div.wrapper .rss {
    top: 0;
    right: 25px;
  }
  body div.wrapper .facebook {
    top: 0;
    right: 25px;
  }
  body div.wrapper #SeconSerch .Search {
    width: 150px;
  }
  body div.wrapper #SeconSerch .Location {
    width: 80px;
  }
  body div.wrapper #SeconSerch .interactive-element {
    top: 20px;
    font-size: 12px;
  }
}

/*# sourceMappingURL=MMG-main-style.css.map */
