.box-sizing {
  box-sizing: border-box;
}

div.container-fluid {
  width: 100%;
}

div.container {
  margin-left: 20px;
  margin-right: 20px;
}

div.row:after {
  clear: both;
}

div.row-right {
  clear: right;
}

div.row-left {
  clear: left;
}

div.grid-1 {
  width: 8.33%;
}

div.grid-2 {
  width: 16.66%;
}

div.grid-3 {
  width: 24.99%;
}

div.grid-4 {
  width: 33.32%;
}

div.grid-5 {
  width: 41.65%;
}

div.grid-6 {
  width: 49.98%;
}

div.grid-7 {
  width: 58.31%;
}

div.grid-8 {
  width: 66.64%;
}

div.grid-9 {
  width: 74.97%;
}

div.grid-10 {
  width: 83.3%;
}

div.grid-11 {
  width: 91.63%;
}

div.grid-12 {
  width: 99.96%;
}

[class*=grid-] {
  float: left;
  padding: 15px;
}

.margin-0 {
  margin: 0px;
}

.margin-10 {
  margin: 0px 10px;
}

.margin-20 {
  margin: 0px 20px;
}

.margin-30 {
  margin: 0px 30px;
}

.margin-40 {
  margin: 0px 40px;
}

.margin-50 {
  margin: 0px 50px;
}

.margin-auto {
  margin: auto;
}

.margin-up-dw-10 {
  margin: 10px 0px;
}

.margin-up-dw-20 {
  margin: 20px 0px;
}

.margin-up-dw-30 {
  margin: 30px 0px;
}

.margin-up-dw-40 {
  margin: 40px 0px;
}

.margin-up-dw-50 {
  margin: 50px 0px;
}

.padding-10 {
  padding: 0px 10px;
}

.padding-20 {
  padding: 0px 20px;
}

.padding-30 {
  padding: 0px 30px;
}

.padding-40 {
  padding: 0px 40px;
}

.padding-50 {
  padding: 0px 50px;
}

.padding-up-dw-10 {
  padding: 10px 0px;
}

.padding-up-dw-20 {
  padding: 20px 0px;
}

.padding-up-dw-30 {
  padding: 30px 0px;
}

.padding-up-dw-40 {
  padding: 40px 0px;
}

.padding-up-dw-50 {
  padding: 50px 0px;
}

.padding-l-10 {
  padding-left: 10px;
}

.padding-l-20 {
  padding-left: 20px;
}

.padding-l-30 {
  padding-left: 30px;
}

.padding-l-40 {
  padding-left: 40px;
}

.padding-l-50 {
  padding-left: 50px;
}

.padding-r-10 {
  padding-right: 10px;
}

.padding-r-20 {
  padding-right: 20px;
}

.padding-r-30 {
  padding-right: 30px;
}

.padding-r-40 {
  padding-right: 40px;
}

.padding-r-50 {
  padding-right: 50px;
}

.blue-fg {
  color: #007bff;
}

.indigo-fg {
  color: #6610f2;
}

.pink-fg {
  color: #e83e8c;
}

.red-fg {
  color: #dc3545;
}

.orange-fg {
  color: #fd7e14;
}

.yellow-fg {
  color: #ffc107;
}

.green-fg {
  color: #28a745;
}

.teal-fg {
  color: #20c997;
}

.cyan-fg {
  color: #17a2b8;
}

.white-fg {
  color: #fff;
}

.gray-fg {
  color: #6c757d;
}

.primary-fg {
  color: #007bff;
}

.secondary-fg {
  color: #6c757d;
}

.success-fg {
  color: #28a745;
}

.info-fg {
  color: #17a2b8;
}

.warning-fg {
  color: #ffc107;
}

.danger-fg {
  color: #dc3545;
}

.light-fg {
  color: #f8f9fa;
}

.dark-fg {
  color: #343a40;
}

.black-fg {
  color: #000000;
}

.light-gray-fg {
  color: #ebebeb;
}

.ghost-gray-fg {
  color: #8f8f8f;
}

.good-inc-main-fg {
  color: #f26c4f;
}

.good-inc-hover-fg {
  color: #ce4e32;
}

.blue-bg {
  background: #007bff;
}

.indigo-bg {
  background: #6610f2;
}

.pink-bg {
  background: #e83e8c;
}

.red-bg {
  background: #dc3545;
}

.orange-bg {
  background: #fd7e14;
}

.yellow-bg {
  background: #ffc107;
}

.green-bg {
  background: #28a745;
}

.teal-bg {
  background: #20c997;
}

.cyan-bg {
  background: #17a2b8;
}

.white-bg {
  background: #fff;
}

.gray-bg {
  background: #6c757d;
}

.primary-bg {
  background: #007bff;
}

.secondary-bg {
  background: #6c757d;
}

.success-bg {
  background: #28a745;
}

.info-bg {
  background: #17a2b8;
}

.warning-bg {
  background: #ffc107;
}

.danger-bg {
  background: #dc3545;
}

.light-bg {
  background: #f8f9fa;
}

.dark-bg {
  background: #343a40;
}

.black-bg {
  background: #000000;
}

.light-gray-bg {
  background: #ebebeb;
}

.ghost-gray-bg {
  background: #8f8f8f;
}

.good-inc-main-bg {
  background: #f26c4f;
}

.good-inc-hover-bg {
  background: #ce4e32;
}

.extra-small {
  height: 32px;
  width: 32px;
}

.small {
  height: 64px;
  width: 64px;
}

.medium {
  height: 256px;
  width: 256px;
}

.big {
  height: 512px;
  width: 512px;
}

.huge {
  height: 1024px;
  width: 1024px;
}

.fluid {
  width: 100%;
  height: 100%;
}

.pre-medium-w {
  width: 128px;
}

.medium-w {
  width: 256px;
}

.small-w {
  width: 64px;
}

.big-w {
  width: 512px;
}

.huge-w {
  width: 1024px;
}

.width-100 {
  width: 100px;
}

.width-200 {
  width: 200px;
}

.width-300 {
  width: 300px;
}

.width-400 {
  width: 400px;
}

.width-500 {
  width: 500px;
}

.width-600 {
  width: 600px;
}

.width-700 {
  width: 700px;
}

.width-800 {
  width: 800px;
}

.width-900 {
  width: 900px;
}

.width-1000 {
  width: 1000px;
}

.width-inherit {
  width: inherit;
}

.pre-medium-h {
  height: 128px;
}

.medium-h {
  height: 256px;
}

.small-h {
  height: 64px;
}

.extra-small-h {
  height: 32px;
}

.big-h {
  height: 512px;
}

.huge-h {
  height: 1024px;
}

.huge-100 {
  height: 100px;
}

.huge-200 {
  height: 200px;
}

.huge-300 {
  height: 300px;
}

.huge-400 {
  height: 400px;
}

.huge-500 {
  height: 500px;
}

.huge-600 {
  height: 600px;
}

.huge-700 {
  height: 700px;
}

.huge-800 {
  height: 800px;
}

.huge-900 {
  height: 900px;
}

.huge-1000 {
  height: 1000px;
}

.huge-150 {
  height: 150px;
}

.huge-250 {
  height: 250px;
}

.huge-350 {
  height: 350px;
}

.huge-450 {
  height: 450px;
}

.huge-550 {
  height: 550px;
}

.huge-650 {
  height: 650px;
}

.huge-750 {
  height: 750px;
}

.huge-850 {
  height: 850px;
}

.huge-950 {
  height: 950px;
}

.border-r-white {
  border-right: 1px solid #fff;
}

.border-r-ghost {
  border-right: 1px solid #8f8f8f;
}

.height-inherit {
  height: inherit;
}

.text-s {
  font-size: 8px;
}

.text-pm {
  font-size: 8px;
}

.text-m {
  font-size: 16px;
}

.text-b {
  font-size: 32px;
}

.text-h {
  font-size: 64px;
}

.text-vh {
  font-size: 128px;
}

.pos-abs-blt {
  position: absolute;
  bottom: 0%;
  left: 0%;
}

.pos-abs-brt {
  position: absolute;
  bottom: 0%;
  right: 0%;
}

.pos-abs-ult {
  position: absolute;
  top: 0%;
  left: 0%;
}

.pos-abs-urt {
  position: absolute;
  top: 0%;
  right: 0%;
}

.pos-rel-blt {
  position: relative;
  bottom: 0%;
  left: 0%;
}

.pos-rel-brt {
  position: relative;
  bottom: 0%;
  right: 0%;
}

.pos-rel-ult {
  position: relative;
  top: 0%;
  left: 0%;
}

.pos-rel-urt {
  position: relative;
  top: 0%;
  right: 0%;
}

.pos-fix-blt {
  position: fixed;
  bottom: 0%;
  left: 0%;
}

.pos-fix-brt {
  position: fixed;
  bottom: 0%;
  right: 0%;
}

.pos-fix-ult {
  position: fixed;
  top: 0%;
  left: 0%;
}

.pos-fix-urt {
  position: fixed;
  top: 0%;
  right: 0%;
}

.card {
  height: 256px;
}

.card-sm {
  height: 64px;
}

.card-md {
  height: 256px;
}

.card-bg {
  height: 512px;
}

.link-non-decor {
  text-decoration: none;
}

.surface {
  z-index: 9999;
}

.deep-es {
  z-index: 32px;
}

.deep-s {
  z-index: 64px;
}

.deep-pm {
  z-index: 128px;
}

.deep-m {
  z-index: 256px;
}

.deep-big {
  z-index: 512px;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.vertical-center {
  vertical-align: center;
}

.left-10 {
  left: 10px;
}

.left-20 {
  left: 20px;
}

.left-30 {
  left: 30px;
}

.left-40 {
  left: 40px;
}

.left-50 {
  left: 50px;
}

.left-60 {
  left: 60px;
}

.left-70 {
  left: 70px;
}

.left-80 {
  left: 80px;
}

.left-90 {
  left: 90px;
}

.left-100 {
  left: 100px;
}

.bottom-10 {
  bottom: 10px;
}

.bottom-20 {
  bottom: 20px;
}

.bottom-30 {
  bottom: 30px;
}

.bottom-40 {
  bottom: 40px;
}

.bottom-50 {
  bottom: 50px;
}

.bottom-60 {
  bottom: 60px;
}

.bottom-70 {
  bottom: 70px;
}

.bottom-80 {
  bottom: 80px;
}

.bottom-90 {
  bottom: 90px;
}

.bottom-100 {
  bottom: 100px;
}

.bottom-200 {
  bottom: 200px;
}

.bottom-100 {
  bottom: 100px;
}

.bottom-100 {
  bottom: 100px;
}

.bottom-100 {
  bottom: 100px;
}

.bottom-100 {
  bottom: 100px;
}

.top-10 {
  top: 10px;
}

.top-20 {
  top: 20px;
}

.top-30 {
  top: 30px;
}

.top-40 {
  top: 40px;
}

.top-50 {
  top: 50px;
}

.top-60 {
  top: 60px;
}

.top-70 {
  top: 70px;
}

.top-80 {
  top: 80px;
}

.top-90 {
  top: 90px;
}

.top-100 {
  top: 100px;
}

.top-200 {
  top: 200px;
}

.top-300 {
  top: 300px;
}

.top-400 {
  top: 400px;
}

.top-500 {
  top: 500px;
}

.top-600 {
  top: 600px;
}

.top-700 {
  top: 700px;
}

.top-800 {
  top: 800px;
}

.top-900 {
  top: 900px;
}

.top-1000 {
  top: 1000px;
}

.pos-rel {
  position: relative;
}

.pos-abs {
  position: absolute;
}

.pos-fix {
  position: fixed;
}

.clear {
  clear: both;
}

.float-none {
  float: none;
}

.left-10-prc {
  left: 10%;
}

.left-20-prc {
  left: 20%;
}

.left-30-prc {
  left: 30%;
}

.left-40-prc {
  left: 40%;
}

.left-50-prc {
  left: 50%;
}

.inline-block {
  display: inline-block;
}

.non-repeat {
  background-repeat: no-repeat;
}

.flex-cotainer-down {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.flex-cotainer {
  display: flex;
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.center-flex {
  justify-content: center;
}

.strech-flex {
  justify-content: stretch;
}

.flex-start {
  justify-content: flex-start;
}

/*# sourceMappingURL=MMG_FrameWork.css.map */
