

//////////////////////////////////////////////////Grid System

$grid-1:8.33%;
$grid-2:(($grid-1)*2);
$grid-3:(($grid-1)*3);
$grid-4:(($grid-1)*4);
$grid-5:(($grid-1)*5);
$grid-6:(($grid-1)*6);
$grid-7:(($grid-1)*7);
$grid-8:(($grid-1)*8);
$grid-9:(($grid-1)*9);
$grid-10:(($grid-1)*10);
$grid-11:(($grid-1)*11);
$grid-12:(($grid-1)*12);

//---ElementsOfPosition---
.box-sizing{box-sizing: border-box;}
div.container-fluid{width:100%;}
div.container{margin-left:20px;margin-right: 20px;}
div.row:after{clear:both;}
div.row-right{clear:right;}
div.row-left{clear:left;}
//---Grid---
div.grid-1{width:$grid-1;}
div.grid-2{width:$grid-2;}
div.grid-3{width:$grid-3;}
div.grid-4{width:$grid-4;}
div.grid-5{width:$grid-5;}
div.grid-6{width:$grid-6;}
div.grid-7{width:$grid-7;}
div.grid-8{width:$grid-8;}
div.grid-9{width:$grid-9;}
div.grid-10{width:$grid-10;}
div.grid-11{width:$grid-11;}
div.grid-12{width:$grid-12;}

[class*="grid-"]{float:left;padding:15px;}

.margin-0{margin:0px;}
.margin-10{margin:0px 10px;}
.margin-20{margin:0px 20px;}
.margin-30{margin:0px 30px;}
.margin-40{margin:0px 40px;}
.margin-50{margin:0px 50px;}
.margin-auto{margin:auto;}

.margin-up-dw-10{margin:10px 0px;}
.margin-up-dw-20{margin:20px 0px;}
.margin-up-dw-30{margin:30px 0px;}
.margin-up-dw-40{margin:40px 0px;}
.margin-up-dw-50{margin:50px 0px;}


.padding-10{padding:0px 10px;}
.padding-20{padding:0px 20px;}
.padding-30{padding:0px 30px;}
.padding-40{padding:0px 40px;}
.padding-50{padding:0px 50px;}

.padding-up-dw-10{padding:10px 0px;}
.padding-up-dw-20{padding:20px 0px;}
.padding-up-dw-30{padding:30px 0px;}
.padding-up-dw-40{padding:40px 0px;}
.padding-up-dw-50{padding:50px 0px;}


.padding-l-10{padding-left:10px;}
.padding-l-20{padding-left:20px;}
.padding-l-30{padding-left:30px;}
.padding-l-40{padding-left:40px;}
.padding-l-50{padding-left:50px;}

.padding-r-10{padding-right:10px;}
.padding-r-20{padding-right:20px;}
.padding-r-30{padding-right:30px;}
.padding-r-40{padding-right:40px;}
.padding-r-50{padding-right:50px;}
//---SmallDisplay---

//---MediumDisplay---

//---LargeDisplay---

////////////////////////////////////////////////////Colors-them
$blue: #007bff;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #dc3545;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #28a745;
$teal: #20c997;
$cyan: #17a2b8;
$white: #fff;
$gray: #6c757d;
$gray-dark: #343a40;
$primary: #007bff;
$secondary: #6c757d;
$success: #28a745;
$info: #17a2b8;
$warning: #ffc107;
$danger: #dc3545;
$light: #f8f9fa;
$dark: #343a40;
$black:#000000;
$light-gray:#ebebeb;
$ghost-gray:#8f8f8f;


$good-inc-main:rgb(242, 108, 79);
$good-inc-hover:#ce4e32;
//---ForeGround---
.blue-fg{color:$blue;}
.indigo-fg{color:$indigo;}
.pink-fg{color:$pink;}
.red-fg{color:$red;}
.orange-fg{color:$orange;}
.yellow-fg{color:$yellow;}
.green-fg{color:$green;}
.teal-fg{color:$teal;}
.cyan-fg{color:$cyan;}
.white-fg{color:$white;}
.gray-fg{color:$gray;}
.primary-fg{color:$primary;}
.secondary-fg{color:$secondary;}
.success-fg{color:$success;}
.info-fg{color:$info;}
.warning-fg{color:$warning;}
.danger-fg{color:$danger;}
.light-fg{color:$light;}
.dark-fg{color:$dark;}
.black-fg{color:$black}
.light-gray-fg{color:$light-gray;}
.ghost-gray-fg{color:$ghost-gray;}
.good-inc-main-fg{color:$good-inc-main;}
.good-inc-hover-fg{color:$good-inc-hover;}
//---BackGround---
.blue-bg{background:$blue;}
.indigo-bg{background:$indigo;}
.pink-bg{background:$pink;}
.red-bg{background:$red;}
.orange-bg{background:$orange;}
.yellow-bg{background:$yellow;}
.green-bg{background:$green;}
.teal-bg{background:$teal;}
.cyan-bg{background:$cyan;}
.white-bg{background:$white;}
.gray-bg{background:$gray;}
.primary-bg{background:$primary;}
.secondary-bg{background:$secondary;}
.success-bg{background:$success;}
.info-bg{background:$info;}
.warning-bg{background:$warning;}
.danger-bg{background:$danger;}
.light-bg{background:$light;}
.dark-bg{background:$dark;}
.black-bg{background:$black;}
.light-gray-bg{background:$light-gray;}
.ghost-gray-bg{background:$ghost-gray;}
.good-inc-main-bg{background:$good-inc-main;}
.good-inc-hover-bg{background:$good-inc-hover;}
//////////////////////////////////////////////////////Size of Components
$extra-small:32px;
$small:64px;
$pre-medium:128px;
$medium:256px;
$big:512px;
$huge:1024px;

$small-text:8px;
$pre-medium-text:12px;
$medium-text:16px;
$big-text:32px;
$huge-text:64px;
$very-huge-text:128px;

//---AllSize---
.extra-small{height:$extra-small;width:$extra-small;}
.small{height:$small;width:$small;}
.medium{height:$medium;width:$medium;}
.big{height:$big;width:$big;}
.huge{height:$huge;width:$huge;}
.fluid{width:100%; height: 100%;}
//---WidthSize---
.pre-medium-w{width:$pre-medium;}
.medium-w{width:$medium;}
.small-w{width:$small;}
.big-w{width:$big;}
.huge-w{width:$huge;}
.width-100{width:100px;}
.width-200{width:200px;}
.width-300{width:300px;}
.width-400{width:400px;}
.width-500{width:500px;}
.width-600{width:600px;}
.width-700{width:700px;}
.width-800{width:800px;}
.width-900{width:900px;}
.width-1000{width:1000px;}
.width-inherit{width:inherit;}
//---HeightSize---
.pre-medium-h{height:$pre-medium;}
.medium-h{height:$medium;}
.small-h{height:$small;}
.extra-small-h{height:$extra-small;}
.big-h{height:$big;}
.huge-h{height:$huge;}
.huge-100{height:100px;}
.huge-200{height:200px;}
.huge-300{height:300px;}
.huge-400{height:400px;}
.huge-500{height:500px;}
.huge-600{height:600px;}
.huge-700{height:700px;}
.huge-800{height:800px;}
.huge-900{height:900px;}
.huge-1000{height:1000px;}



.huge-150{height:150px;}
.huge-250{height:250px;}
.huge-350{height:350px;}
.huge-450{height:450px;}
.huge-550{height:550px;}
.huge-650{height:650px;}
.huge-750{height:750px;}
.huge-850{height:850px;}
.huge-950{height:950px;}




.border-r-white{border-right: 1px solid $white;}
.border-r-ghost{border-right: 1px solid $ghost-gray;}

.height-inherit{height:inherit;}
//---TextSize---
.text-s{font-size:$small-text;}
.text-pm{font-size:$small-text;}
.text-m{font-size:$medium-text;}
.text-b{font-size: $big-text;}
.text-h{font-size:$huge-text;}
.text-vh{font-size:$very-huge-text;}
//////////////////////////////////////////Position
@mixin uleft-position{top:0%;left:0%;}
@mixin uright-position{top:0%;right:0%;}
@mixin bleft-position{bottom:0%;left:0%;}
@mixin bright-position{bottom:0%;right:0%;}
//---Absolute---
.pos-abs-blt{position:absolute;@include bleft-position;}
.pos-abs-brt{position:absolute;@include bright-position;}
.pos-abs-ult{position:absolute;@include uleft-position;}
.pos-abs-urt{position:absolute;@include uright-position;}
//---Relative---
.pos-rel-blt{position:relative;@include bleft-position;}
.pos-rel-brt{position:relative;@include bright-position;}
.pos-rel-ult{position:relative;@include uleft-position;}
.pos-rel-urt{position:relative;@include uright-position;}
//---Fixed---
.pos-fix-blt{position:fixed;@include bleft-position;}
.pos-fix-brt{position:fixed;@include bright-position;}
.pos-fix-ult{position:fixed;@include uleft-position;}
.pos-fix-urt{position:fixed;@include uright-position;}
///////////////////////////////////////////////////////////////////////Card
.card{height:$medium;}
.card-sm{height:$small;}
.card-md{height:$medium;}
.card-bg{height:$big;}
///////////////////////////////////////////////////////////Link
.link-non-decor{text-decoration: none;}
///////////////////////////////////////////////////////////Slider-elements
div.slider{

}

div.slider-arrow{

}
////////////////////////////////////////////////////////////////Z-Position
.surface{z-index:9999;}
.deep-es{z-index:$extra-small;}
.deep-s{z-index:$small;}
.deep-pm{z-index:$pre-medium;}
.deep-m{z-index:$medium;}
.deep-big{z-index:$big;}


////////////
.text-center{text-align: center;}
.text-justify{text-align: justify;}
.text-left{text-align: left;}
.text-right{text-align: right;}
////////////////////////////////////////////////////////////////////////MixinPictures

@mixin Icon($size-w,$size-h, $name){
  background: url($name);
  height:$size-h;
  width:$size-w;
}


.vertical-center{vertical-align: center;}
/////////////
.left-10{left:10px;}
.left-20{left:20px;}
.left-30{left:30px;}
.left-40{left:40px;}
.left-50{left:50px;}
.left-60{left:60px;}
.left-70{left:70px;}
.left-80{left:80px;}
.left-90{left:90px;}
.left-100{left:100px;}


.bottom-10{bottom:10px;}
.bottom-20{bottom:20px;}
.bottom-30{bottom:30px;}
.bottom-40{bottom:40px;}
.bottom-50{bottom:50px;}
.bottom-60{bottom:60px;}
.bottom-70{bottom:70px;}
.bottom-80{bottom:80px;}
.bottom-90{bottom:90px;}
.bottom-100{bottom:100px;}
.bottom-200{bottom:200px;}
.bottom-100{bottom:100px;}
.bottom-100{bottom:100px;}
.bottom-100{bottom:100px;}
.bottom-100{bottom:100px;}


.top-10{top:10px;}
.top-20{top:20px;}
.top-30{top:30px;}
.top-40{top:40px;}
.top-50{top:50px;}
.top-60{top:60px;}
.top-70{top:70px;}
.top-80{top:80px;}
.top-90{top:90px;}
.top-100{top:100px;}


.top-200{top:200px;}
.top-300{top:300px;}
.top-400{top:400px;}
.top-500{top:500px;}
.top-600{top:600px;}
.top-700{top:700px;}
.top-800{top:800px;}
.top-900{top:900px;}
.top-1000{top:1000px;}

.pos-rel{position:relative;}
.pos-abs{position:absolute;}
.pos-fix{position:fixed;}

.clear{clear:both;}
.float-none{float:none;}


.left-10-prc{left:10%;}
.left-20-prc{left:20%;}
.left-30-prc{left:30%;}
.left-40-prc{left:40%;}
.left-50-prc{left:50%;}

.inline-block{display:inline-block;}
.non-repeat{background-repeat: no-repeat;}





.flex-cotainer-down{display:flex;flex-direction: column;justify-content: space-between;}
.flex-cotainer{display: flex;justify-content:space-between;}
.space-around{justify-content: space-around;}
.center-flex{justify-content: center;}
.strech-flex{justify-content: stretch;}
.flex-start{justify-content: flex-start;}
